<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheMacroApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheMacroApp.Settings>
            <setting name="Macro0_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro1_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro2_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro3_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro4_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro5_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro6_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro7_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro8_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro9_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro0_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro1_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro2_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro3_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro4_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro5_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro6_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro7_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro8_Args" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro9_Args" serializeAs="String">
                <value />
            </setting>
        </TheMacroApp.Settings>
    </userSettings>
</configuration>